In [3]:
# advanced_queries.ipynb (put this into Jupyter)

import os
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv

load_dotenv()
engine = create_engine(os.getenv("DATABASE_URL"))

# Query: Top 10 cities with most accidents
query1 = """
SELECT city, COUNT(*) as total
FROM accidents
GROUP BY city
ORDER BY total DESC
LIMIT 10;
"""
df1 = pd.read_sql(query1, engine)
print(df1)

# Query: Average accident duration per state (in minutes)
query2 = """
SELECT state,
       ROUND(AVG(accident_duration) / 60000000000.0, 2) AS avg_duration_mins
FROM accidents
GROUP BY state
ORDER BY avg_duration_mins DESC
LIMIT 10;
"""
df2 = pd.read_sql(query2, engine)
print(df2)

# Query: Severity breakdown by weather condition
query3 = """
SELECT weather_condition, severity, COUNT(*) as count
FROM accidents
GROUP BY weather_condition, severity
ORDER BY count DESC
LIMIT 20;
"""
df3 = pd.read_sql(query3, engine)
print(df3)

          city  total
0        Miami  30375
1      Orlando  16115
2  Los Angeles  14039
3       Dallas   9958
4      Houston   9649
5    Charlotte   8120
6      Raleigh   6590
7   Sacramento   6386
8    San Diego   6141
9    Nashville   5823
  state  avg_duration_mins
0    LA           21543.63
1    DE            7983.61
2    NV            3468.47
3    SD            2521.96
4    KY            2421.87
5    OR             924.17
6    OK             825.46
7    ME             728.94
8    NE             602.16
9    NH             359.32
          weather_condition  severity   count
0                      Fair         2  345447
1                    Cloudy         2   98730
2             Mostly Cloudy         2   90775
3             Partly Cloudy         2   62027
4                Light Rain         2   29932
5                      None         2   17055
6                Light Snow         2   15896
7                       Fog         2   10390
8                      Fair         4    9297
9                      Rain         2    7496
10                     Haze         2    5747
11             Fair / Windy         2    5175
12                   Cloudy         4    3320
13               Heavy Rain         2    2885
14  Thunder in the Vicinity         2    2723
15                  T-Storm         2    2336
16    Mostly Cloudy / Windy         2    2292
17           Cloudy / Windy         2    2243
18                  Thunder         2    2175
19                     Snow         2    2170